@charset "utf-8";

*, a, abbr, acronym, address, area, article, aside, b, applet, audio 
b, bdo, big, blockquote, body, button, center, caption, canvas, 
caption, cite, code, col, colgroup, dd, del, details, dfn, div, 
dd, dl, dt, em, embed, figcaption, figure, fieldset, footer, 
form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, 
html, i, iframe, images, img, ins, kbd, label, legend, li, 
map, mark, menu, navigation, object, ol, output, p, param, pre, 
q, ruby, samp, section, small, span, strong, strike, sub, summary, 
sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, 
tt, u, ul, var, video {
	border:0;
	margin:0; 
	padding:0; 
	vertical-align:baseline;
}

html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #f2f2f2;
	
	margin: auto;
	width: 100%;
}

p {
  	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  	font-size: 14px;
  	line-height: 1.5;
}

.header {
	margin: auto;
	width: 100%;
}

#logo {
	padding: 0.5%;
}

/*.nav li {
	display: inline-block;
	font-family: "Helvetica, sans-serif";
	font-size: 1.5em;
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
}

/* Start Navigation Menu */
.nav a{
	text-decoration: none;
	color: inherit;
	font-weight: 400;
}

.nul{
	color: #000000;
	display: block;
	font-size: 1.5em;
	margin: 0;
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
}

.nul li {
	display: inline-block;
	padding: 10px;
}

.nul li:hover{
	color: #6c5a70;
}

.mobilenav {
	background: #897a8c;
	box-sizing: border-box;
	color: #000000;
	cursor: pointer;
	display: none;
	padding: 15px 10px;
	text-align: left;
	width: 100%;
}
/* End Navigation Menu */

.content {
	color: #787878;
	margin: auto;
	text-align: left;
	width: 960px;
}

.content h2 {
	margin-bottom: 40px;
	font-family: "Roboto Slab", serif;
	font-size: 30px;
}

.caption-style-4{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
		
}

.caption-style-4 li{
	float: left;
	padding: 0px;
	position: relative;
	overflow: hidden;
}

.caption-style-4 li:hover .caption{
	opacity: 1;
}

.caption-style-4 li:hover img{
	opacity: 1;
	transform: scale(1.15,1.15);
	-webkit-transform:scale(1.15,1.15);
	-moz-transform:scale(1.15,1.15);
	-ms-transform:scale(1.15,1.15);
	-o-transform:scale(1.15,1.15);
}

.caption-style-4 img{
	margin: 0px;
	padding: 0px;
	float: left;
	z-index: 4;
}

.caption-style-4 .caption{
	cursor: pointer;
	position: absolute;
	opacity: 0;
	-webkit-transition:all 0.45s ease-in-out;
	-moz-transition:all 0.45s ease-in-out;
	-o-transition:all 0.45s ease-in-out;
	-ms-transition:all 0.45s ease-in-out;
	transition:all 0.45s ease-in-out;
}

.caption-style-4 img{
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
}

.caption-style-4 .blur{
	background-color: rgba(0,0,0,0.65);
	height: 300px;
	width: 300px;
	z-index: 5;
	position: absolute;
}

.caption-style-4 .caption-text h1{
	text-transform: uppercase;
	font-size: 24px;
}

.caption-style-4 .caption-text{
	z-index: 10;
	color: #ffffff;
	position: absolute;
	width: 300px;
	height: 300px;
	text-align: center;
	top:100px;
}

/* Start Parallax */
section.module:last-child {
  margin-bottom: 0;
}

section.module.parallax {
  height: 400px;
  background-image: url("images/nature-sunset-water-clouds.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* End Parallax*/

.footer {
	clear: both;
	padding: 10px;
}

@media only screen and (min-width: 960px;) {
	.header, .content, .footer {
		width: 960px;
	}
}

@media only screen and (max-width: 875px) {
  .nul {
      max-height: 0;
  }
   
  .showing {
      max-height: 30em;    
  }
   
   .nul li {
   	background-color: #d2cdd4;
      box-sizing: border-box;
      font-size: 0.75em;
      width: 100%;
      padding: 10px;
      text-align: left;
    }
   
    .mobilenav {
      display: block;
    }

}